th {
  background-color: black;
  color: white;
  font-weight: bold;
}

table {
  border-collapse: collapse;
}

table,
th,
tr,
td {
  margin: 0;
  padding: 0px;
  text-align: left;
  vertical-align: text-top;
  border: 1px solid black;
}

th,
td {
  padding: 10px;
}

td::first-letter {
  text-transform: uppercase;
}

table caption {
  text-align: center;
  vertical-align: center;
}

#webtechnologie {
  background-color: red;
  color: white;
}

#databases {
  background-color: blue;
  color: white;
}

#organ {
  background-color: red;
  color: white;
}
#ITEssentials {
  background-color: blueviolet;
  color: white;
}
