th {
  background-color: black;
  color: white;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
}

table,
th,
tr {
  margin: 0;
  padding: 0px;
  align-content: center;
  text-align: center;
}

th,
td {
  padding: 10px;
}

#webtechnologie {
  background-color: red;
  color: white;
}

#databases {
  background-color: blue;
  color: white;
}

#organ {
  background-color: rgb(255, 193, 203);
  color: white;
}
#ITEssentials {
  background-color: blueviolet;
  color: white;
}



td,
th {
  min-width: 120px;
}
